.login{
    height: 686px;
    background: url('https://bestanimations.com/media/transport/1614489936travelling-animated-gif-8.gif') center/cover no-repeat ;
    // background-color: crimson;

    .container{
        // background-color: greenyellow;
        height: 100%;

        .showcase-overlay{
            height: 100%;

            h1{
                color: white;
                padding: 0;
            }
        }
    }
}